{% extends 'base.html' %} {% block content %}
    <h1 class="text-center">Note list</h1>

    <div class="container">
        <div class="my-2">
            {% include 'form_new.html' %}
        </div>
        <div class="row">
            {% if object_list|length == 0 %}
                <p class="col-12 badge bg-info">There is no item to show</p>
            {% endif %}
        </div>
        <div class="row">

            <p class="col-12 badge bg-dark text-light">
                Unfinished notes
            </p>
        </div>
        <div class="row">

            {% for item in undone_notes %}
                {% include 'snippet_note.html' with item=item type='SUCCESS' %}
            {% endfor %}
        </div>

        <div class="row">
            <p class="badge bg-light text-dark text-center col-12">
                Finished Notes
            </p>
        </div>
        <div class="row">
            {% for item in done_notes %}
                {% include 'snippet_note.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
